body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("castle_background.gif");

    background-repeat: no-repeat;

}

#info{
    height: 49px;
    padding: 15px;
    display: flex;
    width: 800px;
    justify-content: space-around;
  
}

p{
    display: flex;
   
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: rgb(61, 67, 128);
}

